.follow-gr{
    
    background-color: #0099CC;
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 1.5fr 4fr;
     margin-top: 20px;
    .follow-find{
        
       width: 100%;
       .find-div{
        width: 83.33%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 45px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .s8tittle{
           color: white;
           font-family: "Roboto", sans-serif;
           font-size: 45px;
           text-align: center;
        }
        .s8write{
            font-family: "Roboto", sans-serif;
            text-align: center;
           width: fit-content;
           font-size: 18px;
           padding: 0 5px;
           color: white;
        }
        .s8logo{
          font-size: 36px;
          text-align: center;
          span{
            cursor: pointer;
          };
        }
       }
    }
    .follow-pictures{
      position: relative;
        .absolutes{
            position: absolute;
            top: -6%;
        
           
            img{
              width: 100%;
            }
        }
    }
    .follow-sign{
        width: 100%;
        .sign-div{
            width: 83.33%;
            margin: 0 auto;
            margin-top: 50px;

            .signtittle{
                color: white;
                font-family: "Roboto", sans-serif;
                font-size: 45px;
                text-align: center;
            }
            .s8-clicked{
                width: 83.33%;
                margin: 0 auto;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                font-family: "Roboto", sans-serif;
                input{
                  padding: 20px 0;
                  &:focus{
                    outline: none;
                  }
                }
                button{
                    background-color: black;
                    color: white;
                    font-weight: 600;
                    font-size: 18px;
                    padding: 20px 0;
                    border: 0;
                    margin-top: 10px;
                    cursor: pointer;
                }
            }

        }
    }

}
.hours24{
    width: 100%;
    background-color: #41BBEB;
    font-family: "Roboto", sans-serif;
    color: white;
 .fullyday{
    width: 91.66%;
    margin: 0 auto;
   margin-top: 30px;
   margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    .s8work1{
        display: flex;
        flex-direction: column;
        text-align: left;
        h1{
            font-size: 36px;
        }
        p{
           font-size: 13px;
        }
    }
    .s8work2{
        display: flex;
        gap: 10px;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
        .s8logos{
            svg{
                width: 54px;
                height: 54px;
                stroke: white;
                path{
                    fill: white;
                }
                circle{
                    fill: white;
                }
            }
        }
        .s8spangr{
            display: flex;
            flex-direction: column;
        }
    }
 }
}